<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  <script src='https://cdn.tailwindcss.com/3.2.0' ></script>
  <script src="./tailwind.config.js"></script>
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="bg-[#ffffff] h-[1664px] relative overflow-hidden">
    <div
      class="bg-[#ffffff] border-b border-solid pt-4 pr-60 pb-4 pl-60 flex flex-row items-center justify-between w-[1920px] h-20 absolute left-0 top-0"
      style="
        border-image: linear-gradient(
          90deg,
          rgba(255, 99, 99, 1) 0%,
          rgba(4, 130, 249, 1) 23.153847455978394%,
          rgba(242, 213, 25, 1) 45.78845798969269%,
          rgba(121, 150, 184, 1) 72.19230532646179%,
          rgba(107, 181, 74, 1) 100%
        );
        border-image-slice: 1;
        box-shadow: 0px 4px 10px 0px rgba(10, 151, 176, 0.1);
      "
    >
      <div class="shrink-0 w-[172px] h-6 static">
        <div
          class="text-left font-['GoodTimes-Regular',_sans-serif] text-2xl leading-6 font-normal uppercase absolute left-[264px] top-7"
        >
          <span>
            <span class="parktro-span">park</span>
            <span class="parktro-span2">tro</span>
          </span>
        </div>
        <img
          class="w-[1.09%] h-[24.71%] absolute right-[86.41%] left-[12.5%] bottom-[36.54%] top-[38.75%] overflow-visible"
          src="icon0.svg"
        />
      </div>
      <div
        class="flex flex-row gap-6 items-center justify-start shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative"
        >
          Home
        </div>
        <div
          class="flex flex-row gap-0.5 items-center justify-start shrink-0 relative"
        >
          <div
            class="text-hannan-black text-left font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative"
          >
            Products
          </div>
          <img
            class="shrink-0 w-4 h-4 relative overflow-visible"
            src="arrow0.svg"
          />
        </div>
        <div
          class="flex flex-row gap-0.5 items-center justify-start shrink-0 relative"
        >
          <div
            class="text-hannan-black text-left font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative"
          >
            Services
          </div>
          <img
            class="shrink-0 w-4 h-4 relative overflow-visible"
            src="arrow1.svg"
          />
        </div>
        <div
          class="text-hannan-black text-left font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative"
        >
          Blog
        </div>
        <div
          class="text-hannan-black text-left font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative"
        >
          About
        </div>
      </div>
      <div
        class="rounded-[30px] border-solid border-hannan-primary-2 border pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-1 items-center justify-center shrink-0 h-11 relative"
        style="backdrop-filter: blur(5px)"
      >
        <div
          class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative flex items-center justify-center"
        >
          Let’s Start
        </div>
        <img
          class="shrink-0 w-4 h-4 relative overflow-visible"
          src="arrow2.svg"
        />
      </div>
    </div>
    <div
      class="bg-hannan-black w-[1920px] h-[512px] absolute left-0 bottom-0 overflow-hidden"
    >
      <div
        class="bg-[#0482f9] rounded-[50%] w-[350px] h-[350px] absolute left-[1505px] top-[335px]"
        style="opacity: 0.6; filter: blur(400px)"
      ></div>
      <div
        class="bg-[#6bb54a] rounded-[50%] w-[350px] h-[350px] absolute left-[81px] top-80"
        style="opacity: 0.6; filter: blur(400px)"
      ></div>
      <div
        class="bg-[#ee2358] rounded-[50%] w-[343px] h-[343px] absolute left-[-82px] top-[-119px]"
        style="filter: blur(400px)"
      ></div>
      <div
        class="bg-[#ee23da] rounded-[50%] w-[343px] h-[343px] absolute left-[788px] top-[-185px]"
        style="filter: blur(400px)"
      ></div>
      <div
        class="bg-[#fdd40f] rounded-[50%] w-[343px] h-[343px] absolute left-[1643px] top-[-117px]"
        style="filter: blur(400px)"
      ></div>
      <img
        class="w-[5.37%] h-[14.84%] absolute right-[90.26%] left-[4.37%] bottom-[71.09%] top-[14.06%] overflow-visible"
        style="opacity: 0.2"
        src="shape-40.svg"
      />
      <img
        class="w-[8.65%] h-[14.84%] absolute right-[95.16%] left-[-3.8%] bottom-[-3.52%] top-[88.67%] overflow-visible"
        style="opacity: 0.2"
        src="shape-50.svg"
      />
      <img
        class="w-[2.1%] h-[14.84%] absolute right-[6.86%] left-[91.04%] bottom-[30.86%] top-[54.3%] overflow-visible"
        style="opacity: 0.2"
        src="group-10000010050.svg"
      />
      <div
        class="flex flex-row gap-[105px] items-start justify-start w-[1440px] absolute left-60 top-[154px]"
      >
        <div
          class="flex flex-col gap-9 items-start justify-start shrink-0 w-[342px] relative"
        >
          <div
            class="text-[#ffffff] text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
          >
            Office Address
          </div>
          <div
            class="flex flex-col gap-6 items-start justify-center self-stretch shrink-0 relative"
          >
            <div
              class="flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative"
            >
              <div
                class="border-solid border-hannan-sub-text border shrink-0 w-[34px] h-[34px] relative overflow-hidden"
              >
                <img
                  class="w-5 h-5 absolute left-[7px] top-[7px] overflow-visible"
                  src="call1.svg"
                />
              </div>
              <div
                class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative flex-1"
              >
                +9903652497
              </div>
            </div>
            <div
              class="flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative"
            >
              <div
                class="border-solid border-hannan-sub-text border shrink-0 w-[34px] h-[34px] relative overflow-hidden"
              >
                <img
                  class="w-5 h-5 absolute left-[7px] top-[7px] overflow-visible"
                  src="frame0.svg"
                />
              </div>
              <div
                class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative flex-1"
              >
                info@sparktro.com
              </div>
            </div>
            <div
              class="flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative"
            >
              <div
                class="border-solid border-hannan-sub-text border shrink-0 w-[34px] h-[34px] relative overflow-hidden"
              >
                <img
                  class="w-5 h-5 absolute left-[7px] top-[7px] overflow-visible"
                  src="frame1.svg"
                />
              </div>
              <div
                class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative flex-1"
              >
                3891 Ranchview Dr. Richardson, California 62639
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col gap-9 items-start justify-start shrink-0 w-[220px] relative"
        >
          <div
            class="text-[#ffffff] text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
          >
            Company Info
          </div>
          <div
            class="flex flex-col gap-6 items-start justify-center self-stretch shrink-0 relative"
          >
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              About us
            </div>
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              Contact us
            </div>
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              Terms &amp; Conditions
            </div>
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              Privacy Policy
            </div>
          </div>
        </div>
        <div
          class="flex flex-col gap-9 items-start justify-start shrink-0 w-[220px] relative"
        >
          <div
            class="text-[#ffffff] text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
          >
            Quick Links
          </div>
          <div
            class="flex flex-col gap-6 items-start justify-center self-stretch shrink-0 relative"
          >
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              Services
            </div>
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              Products
            </div>
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              Blogs
            </div>
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch"
            >
              FAQs
            </div>
          </div>
        </div>
        <div
          class="flex flex-col gap-9 items-start justify-start shrink-0 w-[342px] relative"
        >
          <div
            class="text-[#ffffff] text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
          >
            Subscribe Newsletter
          </div>
          <div
            class="flex flex-col gap-6 items-start justify-center self-stretch shrink-0 relative"
          >
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-5 font-normal relative self-stretch"
            >
              Subscribe for Social Media Growth Hacks &amp; Marketing Insights
            </div>
            <div
              class="flex flex-row gap-1.5 items-center justify-start self-stretch shrink-0 relative"
            >
              <div
                class="border-solid border-hannan-sub-text border p-4 flex flex-row gap-2.5 items-center justify-start flex-1 h-12 relative"
              >
                <img
                  class="shrink-0 w-5 h-5 relative overflow-visible"
                  src="email1.svg"
                />
                <div
                  class="text-hannan-fill-color text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative flex-1"
                >
                  Your Email
                </div>
              </div>
              <div
                class="bg-hannan-primary-2 p-4 flex flex-row gap-2.5 items-center justify-center shrink-0 w-12 h-12 relative"
              >
                <img
                  class="shrink-0 w-5 h-5 relative overflow-visible"
                  src="frame2.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="rounded-[50%] border-solid border-[#f2d519] border w-[60px] h-[60px] absolute left-[1688px] top-[77px]"
        style="opacity: 0.3"
      ></div>
      <div
        class="flex flex-row gap-4 items-center justify-start w-[1440px] absolute left-60 top-[50px]"
      >
        <div
          class="border-solid border-hannan-sub-text border-t-2 border-r-[0] border-b-[0] border-l-[0] flex-1 h-0 relative"
          style="margin-top: -2px"
        ></div>
        <div
          class="flex flex-row gap-2.5 items-center justify-start shrink-0 relative"
        >
          <div
            class="flex flex-row gap-1 items-center justify-start shrink-0 relative"
          >
            <img
              class="shrink-0 w-6 h-6 relative overflow-visible"
              src="facebook0.svg"
            />
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative"
            >
              Facebook
            </div>
          </div>
          <div
            class="border-solid border-hannan-sub-text border-t border-r-[0] border-b-[0] border-l-[0] shrink-0 w-4 h-0 relative"
            style="
              margin-top: -1px;
              transform-origin: 0 0;
              transform: rotate(90deg) scale(1, 1);
            "
          ></div>
          <div
            class="flex flex-row gap-1 items-center justify-start shrink-0 relative"
          >
            <img
              class="shrink-0 w-6 h-6 relative overflow-visible"
              src="twitter0.svg"
            />
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative"
            >
              Twitter
            </div>
          </div>
          <div
            class="border-solid border-hannan-sub-text border-t border-r-[0] border-b-[0] border-l-[0] shrink-0 w-4 h-0 relative"
            style="
              margin-top: -1px;
              transform-origin: 0 0;
              transform: rotate(90deg) scale(1, 1);
            "
          ></div>
          <div
            class="flex flex-row gap-1 items-center justify-start shrink-0 relative"
          >
            <div class="shrink-0 w-6 h-6 relative overflow-hidden">
              <img
                class="w-[66.46%] h-[63.43%] absolute right-[16.77%] left-[16.77%] bottom-[17.5%] top-[19.07%] overflow-visible"
                src="group0.svg"
              />
            </div>
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative"
            >
              Instagram
            </div>
          </div>
          <div
            class="border-solid border-hannan-sub-text border-t border-r-[0] border-b-[0] border-l-[0] shrink-0 w-4 h-0 relative"
            style="
              margin-top: -1px;
              transform-origin: 0 0;
              transform: rotate(90deg) scale(1, 1);
            "
          ></div>
          <div
            class="flex flex-row gap-1 items-center justify-start shrink-0 relative"
          >
            <img
              class="shrink-0 w-6 h-6 relative overflow-visible"
              src="linkedin0.svg"
            />
            <div
              class="text-[#ffffff] text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative"
            >
              LinkedIn
            </div>
          </div>
        </div>
        <div
          class="border-solid border-hannan-sub-text border-t-2 border-r-[0] border-b-[0] border-l-[0] flex-1 h-0 relative"
          style="margin-top: -2px"
        ></div>
      </div>
      <div
        class="flex flex-col gap-6 items-start justify-start w-[1440px] absolute left-60 top-[440px]"
      >
        <div
          class="border-solid border-hannan-sub-text border-t-2 border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          style="margin-top: -2px"
        ></div>
        <div
          class="flex flex-row items-center justify-between self-stretch shrink-0 relative"
        >
          <div class="shrink-0 w-[172px] h-6 static">
            <div
              class="text-left font-['GoodTimes-Regular',_sans-serif] text-2xl leading-6 font-normal uppercase absolute left-6 top-0"
            >
              <span>
                <span class="parktro-2-span">park</span>
                <span class="parktro-2-span2">tro</span>
              </span>
            </div>
            <img
              class="w-[1.46%] h-[82.35%] absolute right-[98.54%] left-[0%] bottom-[5.15%] top-[12.5%] overflow-visible"
              src="icon1.svg"
            />
          </div>
          <div
            class="text-[#ffffff] text-right font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative"
          >
            © 2025 Sparktro. All rights reserved
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-9 items-start justify-start w-[1440px] absolute left-60 top-[130px]"
    >
      <div
        class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[1440px] relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-2xl leading-6 font-semibold relative self-stretch"
        >
          Privacy Policy
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          A theme controls the organization, features, and style of your online
          store. Different themes have different styles and layouts, and offer a
          different experience for your customers. For example, if you&#039;re
          selling cleaning services, then you might want your online store to feel
          fresh and professional.
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          1. Information Collection
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          We collect personal information when you interact with our website,
          including but not limited to your name, email address, phone number, and
          payment details. This data is used to provide our cleaning services,
          process transactions, and enhance user experience.
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          2. Use of Information
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          Your information is used to manage your account, respond to inquiries,
          process payments, and improve our services. We may also use your data
          for marketing purposes, provided you have given consent.
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          3. Data Protection
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          Sparktro is committed to securing your personal data. We implement
          security measures to protect against unauthorized access, alteration, or
          disclosure of your personal information.
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          4. Sharing Information
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          We do not sell, rent, or share your personal data with third parties,
          except as required by law or necessary to provide our services (such as
          payment processors and service providers).
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          5. Cookies and Tracking Technologies
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          Our website may use cookies and similar tracking technologies to enhance
          your browsing experience. You can adjust your browser settings to
          disable cookies if you prefer.
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          6. User Rights
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          You have the right to access, correct, or delete your personal
          information. If you wish to exercise these rights, please contact us.
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          7. Policy Updates
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          We may update this Privacy Policy periodically. Any changes will be
          posted on our website, and continued use of our services implies
          acceptance of the updated policy.
        </div>
      </div>
      <div
        class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch"
        >
          1. Information Collection
        </div>
        <div
          class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-[30px] font-normal relative self-stretch"
        >
          For any questions regarding our Privacy Policy, please contact us at
          info@sparktro.com.
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>