<div class="rounded-[50%] border-solid border-[#f2d519] border w-[60px] h-[60px] absolute left-[1688px] top-[286px]"
    style="opacity: 0.3"></div>
<div class="flex flex-col gap-2.5 items-start justify-start w-6 absolute left-[30px] top-[50%]"
    style="translate: 0 -50%">
    <img class="shrink-0 w-6 h-6 relative overflow-visible" src="twitter2.svg" />
    <img class="shrink-0 w-6 h-6 relative overflow-visible" src="facebook2.svg" />
    <div class="self-stretch shrink-0 h-6 relative overflow-hidden">
        <img class="w-[66.46%] h-[63.43%] absolute right-[16.77%] left-[16.77%] bottom-[17.5%] top-[19.07%] overflow-visible"
            src="group1.svg" />
    </div>
    <div class="self-stretch shrink-0 h-6 relative overflow-hidden">
        <img class="w-[72.5%] h-[58.75%] absolute right-[14.38%] left-[13.13%] bottom-[20.62%] top-[20.63%] overflow-visible"
            src="yout0.svg" />
    </div>
</div>
</div>
</div>

</footer>