<section class="w-full flex justify-center bg-[#F8FAFC] py-0">
    <div class="w-full max-w-[1200px] flex flex-col items-center gap-12 mx-auto px-2 sm:px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
            <!-- Blog Card 1 -->
            <div
                class="flex flex-col items-start gap-[10px] p-9 border border-[#D6E2EF] bg-white flex-1 min-w-0 transition-all duration-200 shadow-sm">
                <div class="flex flex-row gap-2 items-center">
                    <img class="w-4 h-4" src="/src/assets/icons/calender0.svg" alt="Calendar" />
                    <div class="text-[#7B8A9D] text-sm font-normal">30 May 2025</div>
                </div>
                <div class="text-[#222B3A] text-xl font-semibold leading-7">How to create business website for web flow
                </div>
                <div class="border-t border-[#D6E2EF] w-[80px] mt-[-2px]"></div>
                <div class="text-[#7B8A9D] text-base leading-6 font-normal">To create a business website, start by
                    choosing a user-friendly website builder, selecting a domain name, and picking a reliable web host.
                    Then, desi.</div>
            </div>
            <!-- Latest Blog Post Card (center, row 1 col 2) -->
            <div
                class="flex flex-col items-center justify-center gap-4 p-9 border border-[#D6E2EF] bg-white flex-1 min-w-0 rounded-2xl shadow-sm text-center">
                <div class="text-[#222B3A] font-bold text-3xl md:text-4xl leading-10">Latest Blog Post</div>
                <div class="text-[#7B8A9D] text-base leading-6 font-normal">Knowing your audience is the foundation for
                    naming your blog! Once you've picked a niche</div>
                <button
                    class="flex w-[200px] h-[58px] px-[30px] py-5 justify-center items-center gap-2 rounded-[30px] bg-[#0A97B0] text-white text-base font-semibold mt-2">
                        View All Blogs
                    <img src="/src/assets/icons/arrow7.svg" class="w-4 h-4 ml-2" alt="Arrow" />
                </button>
            </div>
            <!-- Blog Card 3 -->
            <div
                class="flex flex-col items-start gap-[10px] p-9 border border-[#D6E2EF] bg-white flex-1 min-w-0 transition-all duration-200 shadow-sm">
                <div class="flex flex-row gap-2 items-center">
                    <img class="w-4 h-4" src="/src/assets/icons/calender2.svg" alt="Calendar" />
                    <div class="text-[#7B8A9D] text-sm font-normal">30 May 2025</div>
                </div>
                <div class="text-[#222B3A] text-xl font-semibold leading-7">How to create business website for web flow
                </div>
                <div class="border-t border-[#D6E2EF] w-[80px] mt-[-2px]"></div>
                <div class="text-[#7B8A9D] text-base leading-6 font-normal">To create a business website, start by
                    choosing a user-friendly website builder, selecting a domain name, and picking a reliable web host.
                    Then, desi.</div>
            </div>
            <!-- Blog Card 4 -->
            <div
                class="flex flex-col items-start gap-[10px] p-9 border border-[#D6E2EF] bg-white flex-1 min-w-0 transition-all duration-200 shadow-sm">
                <div class="flex flex-row gap-2 items-center">
                    <img class="w-4 h-4" src="/src/assets/icons/calender3.svg" alt="Calendar" />
                    <div class="text-[#7B8A9D] text-sm font-normal">30 May 2025</div>
                </div>
                <div class="text-[#222B3A] text-xl font-semibold leading-7">How to create business website for web flow
                </div>
                <div class="border-t border-[#D6E2EF] w-[80px] mt-[-2px]"></div>
                <div class="text-[#7B8A9D] text-base leading-6 font-normal">To create a business website, start by
                    choosing a user-friendly website builder, selecting a domain name, and picking a reliable web host.
                    Then, desi.</div>
            </div>
            <!-- Blog Card 5 -->
            <div
                class="flex flex-col items-start gap-[10px] p-9 border border-[#D6E2EF] bg-white flex-1 min-w-0 transition-all duration-200 shadow-sm">
                <div class="flex flex-row gap-2 items-center">
                    <img class="w-4 h-4" src="/src/assets/icons/calender4.svg" alt="Calendar" />
                    <div class="text-[#7B8A9D] text-sm font-normal">30 May 2025</div>
                </div>
                <div class="text-[#222B3A] text-xl font-semibold leading-7">How to create business website for web flow
                </div>
                <div class="border-t border-[#D6E2EF] w-[80px] mt-[-2px]"></div>
                <div class="text-[#7B8A9D] text-base leading-6 font-normal">To create a business website, start by
                    choosing a user-friendly website builder, selecting a domain name, and picking a reliable web host.
                    Then, desi.</div>
            </div>
            <!-- Blog Card 6 -->
            <div
                class="flex flex-col items-start gap-[10px] p-9 border border-[#D6E2EF] bg-white flex-1 min-w-0 transition-all duration-200 shadow-sm">
                <div class="flex flex-row gap-2 items-center">
                    <img class="w-4 h-4" src="/src/assets/icons/calender4.svg" alt="Calendar" />
                    <div class="text-[#7B8A9D] text-sm font-normal">30 May 2025</div>
                </div>
                <div class="text-[#222B3A] text-xl font-semibold leading-7">How to create business website for web flow
                </div>
                <div class="border-t border-[#D6E2EF] w-[80px] mt-[-2px]"></div>
                <div class="text-[#7B8A9D] text-base leading-6 font-normal">To create a business website, start by
                    choosing a user-friendly website builder, selecting a domain name, and picking a reliable web host.
                    Then, desi.</div>
            </div>
        </div>
    </div>
</section>