<div class="flex flex-col gap-[50px] items-center justify-start shrink-0 w-[1440px] relative">
    <div class="flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative">
        <div
            class="text-hannan-black text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch">
            Discover Our Products
        </div>
        <div
            class="text-hannan-sub-text text-center font-['WorkSans-Regular',_sans-serif] text-lg leading-7 font-normal relative self-stretch">
            With our innovative tools and solutions tailored to empower your
            business, you just need
            <br />
            to sit back and see your problems solved, business operations .
        </div>
    </div>
    <div class="flex flex-col gap-6 items-start justify-start self-stretch shrink-0 relative">
        <div class="flex flex-row gap-6 items-center justify-start self-stretch shrink-0 relative">
            <div
                class="border-solid border-hannan-border-2 border pt-2.5 pr-2.5 pb-6 pl-2.5 flex flex-col gap-6 items-start justify-start flex-1 relative">
                <img class="self-stretch shrink-0 h-[250px] relative" style="object-fit: cover"
                    src="/src/assets/images/_150.png" />
                <div class="pr-4 pl-4 flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
                    <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative">
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Full Applications
                            </div>
                        </div>
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Version 5.1
                            </div>
                        </div>
                    </div>
                    <div class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        Multi-Vendor eCommerce CMS - Mobile App, Website and Admin Panel
                    </div>
                    <div class="text-hannan-primary-2 text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        $29.50
                    </div>
                    <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
                        <div class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative overflow-hidden"
                            style="text-overflow: ellipsis">
                            250 Sales
                        </div>
                        <div class="rounded-[30px] border-solid border-hannan-primary-2 border pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-1 items-center justify-center shrink-0 h-11 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative flex items-center justify-center">
                                Live Preview
                            </div>
                            <img class="shrink-0 w-4 h-4 relative overflow-visible"
                                src="/src/assets/icons/arrow0.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pt-2.5 pr-2.5 pb-6 pl-2.5 flex flex-col gap-6 items-start justify-start flex-1 relative">
                <img class="self-stretch shrink-0 h-[250px] relative" style="object-fit: cover"
                    src="/src/assets/images/_130.png" />
                <div class="pr-4 pl-4 flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
                    <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative">
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Full Applications
                            </div>
                        </div>
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Version 5.1
                            </div>
                        </div>
                    </div>
                    <div class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        Multi-Vendor eCommerce CMS - Mobile App, Website and Admin Panel
                    </div>
                    <div class="text-hannan-primary-2 text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        $29.50
                    </div>
                    <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
                        <div class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative overflow-hidden"
                            style="text-overflow: ellipsis">
                            250 Sales
                        </div>
                        <div class="rounded-[30px] border-solid border-hannan-primary-2 border pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-1 items-center justify-center shrink-0 h-11 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative flex items-center justify-center">
                                Live Preview
                            </div>
                            <img class="shrink-0 w-4 h-4 relative overflow-visible"
                                src="/src/assets/icons/arrow1.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pt-2.5 pr-2.5 pb-6 pl-2.5 flex flex-col gap-6 items-start justify-start flex-1 relative">
                <img class="self-stretch shrink-0 h-[250px] relative" style="object-fit: cover"
                    src="/src/assets/images/_140.png" />
                <div class="pr-4 pl-4 flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
                    <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative">
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Full Applications
                            </div>
                        </div>
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Version 5.1
                            </div>
                        </div>
                    </div>
                    <div class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        Multi-Vendor eCommerce CMS - Mobile App, Website and Admin Panel
                    </div>
                    <div class="text-hannan-primary-2 text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        $29.50
                    </div>
                    <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
                        <div class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative overflow-hidden"
                            style="text-overflow: ellipsis">
                            250 Sales
                        </div>
                        <div class="rounded-[30px] border-solid border-hannan-primary-2 border pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-1 items-center justify-center shrink-0 h-11 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative flex items-center justify-center">
                                Live Preview
                            </div>
                            <img class="shrink-0 w-4 h-4 relative overflow-visible" src="arrow2.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-6 items-center justify-start self-stretch shrink-0 relative">
            <div
                class="border-solid border-hannan-border-2 border pt-2.5 pr-2.5 pb-6 pl-2.5 flex flex-col gap-6 items-start justify-start flex-1 relative">
                <img class="self-stretch shrink-0 h-[250px] relative" style="object-fit: cover"
                    src="/src/assets/images/_120.png" />
                <div class="pr-4 pl-4 flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
                    <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative">
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Full Applications
                            </div>
                        </div>
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Version 5.1
                            </div>
                        </div>
                    </div>
                    <div class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        Multi-Vendor eCommerce CMS - Mobile App, Website and Admin Panel
                    </div>
                    <div class="text-hannan-primary-2 text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        $29.50
                    </div>
                    <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
                        <div class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative overflow-hidden"
                            style="text-overflow: ellipsis">
                            250 Sales
                        </div>
                        <div class="rounded-[30px] border-solid border-hannan-primary-2 border pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-1 items-center justify-center shrink-0 h-11 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative flex items-center justify-center">
                                Live Preview
                            </div>
                            <img class="shrink-0 w-4 h-4 relative overflow-visible"
                                src="/src/assets/icons/arrow3.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pt-2.5 pr-2.5 pb-6 pl-2.5 flex flex-col gap-6 items-start justify-start flex-1 relative">
                <img class="self-stretch shrink-0 h-[250px] relative" style="object-fit: cover"
                    src="/src/assets/images/_160.png" />
                <div class="pr-4 pl-4 flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
                    <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative">
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Full Applications
                            </div>
                        </div>
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Version 5.1
                            </div>
                        </div>
                    </div>
                    <div class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        Multi-Vendor eCommerce CMS - Mobile App, Website and Admin Panel
                    </div>
                    <div class="text-hannan-primary-2 text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        $29.50
                    </div>
                    <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
                        <div class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative overflow-hidden"
                            style="text-overflow: ellipsis">
                            250 Sales
                        </div>
                        <div class="rounded-[30px] border-solid border-hannan-primary-2 border pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-1 items-center justify-center shrink-0 h-11 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative flex items-center justify-center">
                                Live Preview
                            </div>
                            <img class="shrink-0 w-4 h-4 relative overflow-visible"
                                src="/src/assets/icons/arrow4.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pt-2.5 pr-2.5 pb-6 pl-2.5 flex flex-col gap-6 items-start justify-start flex-1 relative">
                <img class="self-stretch shrink-0 h-[250px] relative" style="object-fit: cover"
                    src="/src/assets/images/_170.png" />
                <div class="pr-4 pl-4 flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
                    <div class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative">
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Full Applications
                            </div>
                        </div>
                        <div class="bg-[rgba(10,151,176,0.10)] rounded-[30px] border-solid border-[rgba(10,151,176,0.20)] border pt-1 pr-2.5 pb-1 pl-2.5 flex flex-row gap-1 items-center justify-center shrink-0 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-sm leading-[14px] font-medium relative flex items-center justify-center">
                                Version 5.1
                            </div>
                        </div>
                    </div>
                    <div class="text-hannan-black text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        Multi-Vendor eCommerce CMS - Mobile App, Website and Admin Panel
                    </div>
                    <div class="text-hannan-primary-2 text-left font-['WorkSans-SemiBold',_sans-serif] text-xl leading-6 font-semibold relative self-stretch overflow-hidden"
                        style="text-overflow: ellipsis">
                        $29.50
                    </div>
                    <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
                        <div class="text-hannan-sub-text text-left font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative overflow-hidden"
                            style="text-overflow: ellipsis">
                            250 Sales
                        </div>
                        <div class="rounded-[30px] border-solid border-hannan-primary-2 border pt-2.5 pr-4 pb-2.5 pl-4 flex flex-row gap-1 items-center justify-center shrink-0 h-11 relative"
                            style="backdrop-filter: blur(5px)">
                            <div
                                class="text-hannan-primary-2 text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative flex items-center justify-center">
                                Live Preview
                            </div>
                            <img class="shrink-0 w-4 h-4 relative overflow-visible"
                                src="/src/assets/icons/arrow5.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="bg-hannan-primary-2 rounded-[30px] pt-5 pr-[30px] pb-5 pl-[30px] flex flex-row gap-2 items-center justify-center shrink-0 w-[200px] h-[58px] relative">
        <div
            class="text-[#ffffff] text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative">
            View All Products
        </div>
        <img class="shrink-0 w-4 h-4 relative overflow-visible" src="/src/assets/icons/arrow6.svg" />
    </div>
</div>