<section class="w-full flex justify-center bg-white py-0">
    <div class="w-full max-w-[987px] flex flex-col items-center gap-[50px] mx-auto px-2 sm:px-4">
        <div class="flex flex-col gap-2.5 items-center w-full">
            <h2
                class="font-['WorkSans-Bold',_sans-serif] text-[32px] sm:text-[36px] md:text-[40px] leading-10 font-bold text-hannan-black text-center">
                Technologies Used</h2>
            <p
                class="font-['WorkSans-Regular',_sans-serif] text-base sm:text-lg leading-7 text-hannan-sub-text text-center">
                With our innovative tools and solutions tailored to empower your business, you just need<br />to sit
                back and see your problems solved, business operations.
            </p>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 w-full">
            <!-- Figma -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/figma-logo-512-ezgif-com-webp-to-png-converter0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Figma" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Figma</div>
            </div>
            <!-- Adobe XD -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/adobe-xd-logo-wine0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="Adobe XD" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Adobe XD</div>
            </div>
            <!-- Photoshop -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/adobe-photoshop-cc-icon-svg0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Photoshop" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Photoshop</div>
            </div>
            <!-- Illustrator -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/adobe-illustrator-cc-icon-svg0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Illustrator" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Illustrator</div>
            </div>
            <!-- Webflow -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/webflow-social-preview0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="Webflow" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Webflow</div>
            </div>
            <!-- Framer -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/tv-j-9-grd-pgk-3-s-rz-6-t-6-xwkp-br-fr-4-k-ezgif-com-webp-to-png-converter0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Framer" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Framer</div>
            </div>
            <!-- Sketch -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/sketch-2-logo-png-transparent0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Sketch" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Sketch</div>
            </div>
            <!-- Google Drive -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/google-drive-logo0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="Google Drive" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Google Drive</div>
            </div>
            <!-- Microsoft -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/microsoft-logo-512-px0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="Microsoft" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Microsoft</div>
            </div>
            <!-- Next.js -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/java-script-logo0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="Next.js" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Next.js</div>
            </div>
            <!-- React.js -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/react-ezgif-com-webp-to-png-converter0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="React.js" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    React.js</div>
            </div>
            <!-- Vue.js -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/vue-icon-512-x-439-f-6-q-4-zral0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Vue.js" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Vue.js</div>
            </div>
            <!-- HTML 5 -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/html-5-logo-png-seeklogo-2068340.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="HTML 5" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    HTML 5</div>
            </div>
            <!-- JavaScript -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/javascript-logo-javascript-icon-transparent-free-png-ezgif-com-webp-to-png-converter0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="JavaScript" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    JavaScript</div>
            </div>
            <!-- Laravel -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/laravel-icon-1990-x-2048-xawylrh-00.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Laravel" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Laravel</div>
            </div>
            <!-- Node.js -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/node-js-icon-454-x-512-nztofx-170.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Node.js" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Node.js</div>
            </div>
            <!-- Java -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/_181-java-logo-logos-512-ezgif-com-webp-to-png-converter0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Java" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Java</div>
            </div>
            <!-- React Native -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/react-ezgif-com-webp-to-png-converter1.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="React Native" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    React Native</div>
            </div>
            <!-- PHP -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/php-logo-svg0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="PHP" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    PHP</div>
            </div>
            <!-- Flutter -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/flutter-57860.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="Flutter" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Flutter</div>
            </div>
            <!-- Java (again) -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/_181-java-logo-logos-512-ezgif-com-webp-to-png-converter1.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Java" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Java</div>
            </div>
            <!-- GitLab -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/_144-gitlab-logo-logos-512-ezgif-com-webp-to-png-converter0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="GitLab" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    GitLab</div>
            </div>
            <!-- Firebase -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/_2944871-ezgif-com-webp-to-png-converter0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Firebase" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Firebase</div>
            </div>
            <!-- GitHub -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/_252310.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="GitHub" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    GitHub</div>
            </div>
            <!-- MySQL -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/images0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="MySQL" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    MySQL</div>
            </div>
            <!-- Cloudflare -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/cloudflare-logo0.png" class="w-8 h-8 sm:w-10 sm:h-10 object-cover"
                    alt="Cloudflare" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Cloudflare</div>
            </div>
            <!-- AWS -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/amazon-web-services-logo-wine0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="AWS" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    AWS</div>
            </div>
            <!-- Google Forms -->
            <div
                class="border border-hannan-border-2 flex flex-col gap-4 items-center justify-center h-[100px] sm:h-[126px] bg-white transition-all duration-300 hover:shadow-lg hover:scale-[1.04] cursor-pointer">
                <img src="/src/assets/images/google-forms-logo-2014-2020-svg0.png"
                    class="w-8 h-8 sm:w-10 sm:h-10 object-cover" alt="Google Forms" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-sm sm:text-base leading-4 font-medium">
                    Google Forms</div>
            </div>
        </div>
    </div>
</section>