<div class="flex flex-col gap-[50px] items-start justify-start shrink-0 w-[1440px] relative">
    <div class="flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative">
        <div
            class="text-hannan-black text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch">
            Technologies Used
        </div>
        <div
            class="text-hannan-sub-text text-center font-['WorkSans-Regular',_sans-serif] text-lg leading-7 font-normal relative self-stretch">
            With our innovative tools and solutions tailored to empower your
            business, you just need
            <br />
            to sit back and see your problems solved, business operations .
        </div>
    </div>
    <div class="flex flex-col gap-5 items-center justify-start self-stretch shrink-0 relative">
        <div class="flex flex-row gap-5 items-center justify-start shrink-0 w-[1294px] relative">
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/figma-logo-512-ezgif-com-webp-to-png-converter0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Figma
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/adobe-xd-logo-wine0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Adobe XD
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/adobe-photoshop-cc-icon-svg0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Photoshop
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/adobe-illustrator-cc-icon-svg0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Illustrator
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/webflow-social-preview0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Webflow
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/tv-j-9-grd-pgk-3-s-rz-6-t-6-xwkp-br-fr-4-k-ezgif-com-webp-to-png-converter0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Framer
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/sketch-2-logo-png-transparent0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Sketch
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/google-drive-logo0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    McDonald&#039;s
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/microsoft-logo-512-px0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    McDonald&#039;s
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-5 items-center justify-start self-stretch shrink-0 relative">
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/java-script-logo0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Next.js
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/react-ezgif-com-webp-to-png-converter0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    React.js
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/vue-icon-512-x-439-f-6-q-4-zral0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Vue.js
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/html-5-logo-png-seeklogo-2068340.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    HTML 5
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/javascript-logo-javascript-icon-transparent-free-png-ezgif-com-webp-to-png-converter0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    JavaScript
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/laravel-icon-1990-x-2048-xawylrh-00.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Laravel
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/node-js-icon-454-x-512-nztofx-170.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Node.js
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/_181-java-logo-logos-512-ezgif-com-webp-to-png-converter0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Java
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/react-ezgif-com-webp-to-png-converter1.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    React Native
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/php-logo-svg0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    PHP
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-5 items-center justify-start shrink-0 w-[1294px] relative">
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/flutter-57860.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Flutter
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/_181-java-logo-logos-512-ezgif-com-webp-to-png-converter1.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Java
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/_144-gitlab-logo-logos-512-ezgif-com-webp-to-png-converter0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    GitLab
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/_2944871-ezgif-com-webp-to-png-converter0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Firebase
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/_252310.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    GitHub
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/images0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    MySQL
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/cloudflare-logo0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Cloudflare
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/amazon-web-services-logo-wine0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    AWS
                </div>
            </div>
            <div
                class="border-solid border-hannan-border-2 border pr-6 pl-6 flex flex-col gap-4 items-center justify-center flex-1 h-[126px] relative">
                <img class="shrink-0 w-10 h-10 relative" style="object-fit: cover"
                    src="/src/assets/images/google-forms-logo-2014-2020-svg0.png" />
                <div
                    class="text-hannan-black text-center font-['WorkSans-Medium',_sans-serif] text-base leading-4 font-medium relative">
                    Google Forms
                </div>
            </div>
        </div>
    </div>
</div>