<div class="bg-[#ffffff] self-stretch shrink-0 h-[666px] relative overflow-hidden" id="testimonials">
    <div class="bg-[#ee2358] rounded-[50%] w-[343px] h-[343px] absolute left-[-85px] top-[-103px]"
        style="opacity: 0.3; filter: blur(400px)"></div>
    <div class="bg-[#ee23da] rounded-[50%] w-[343px] h-[343px] absolute left-[746px] top-[-177px]"
        style="opacity: 0.3; filter: blur(400px)"></div>
    <div class="bg-[#ee23da] rounded-[50%] w-[343px] h-[343px] absolute left-[50%] top-[512px]"
        style="opacity: 0.3; translate: -50%; filter: blur(400px)"></div>
    <div class="bg-[#fdd40f] rounded-[50%] w-[343px] h-[343px] absolute left-[1643px] top-[-158px]"
        style="opacity: 0.3; filter: blur(400px)"></div>
    <div class="bg-[#0482f9] rounded-[50%] w-[350px] h-[350px] absolute left-[1509px] top-[462px]"
        style="opacity: 0.3; filter: blur(400px)"></div>
    <div class="bg-[#6bb54a] rounded-[50%] w-[350px] h-[350px] absolute left-[-44px] top-[492px]"
        style="opacity: 0.3; filter: blur(400px)"></div>
    <div class="flex flex-col gap-[50px] items-center justify-start w-[952px] absolute left-[50%] top-[50px]"
        style="translate: -50%">
        <div
            class="text-hannan-black text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative w-[952px]">
            What Client Say
        </div>
        <div class="flex flex-col gap-6 items-center justify-start self-stretch shrink-0 relative">
            <img class="shrink-0 w-[50px] h-[50px] relative overflow-visible" src="/src/assets/icons/quote0.svg" />
            <div
                class="text-hannan-sub-text text-center font-['WorkSans-Regular',_sans-serif] text-lg leading-8 font-normal relative self-stretch">
                A client review is a statement or evaluation written by a customer
                or client about their experience with a product, service, or
                company. It can be positive or negative and often includes specific
                details about their interaction. These reviews are valuable for
                businesses as they can provide insights into customer satisfaction
                and help them improve their offerings.
            </div>
        </div>
        <div class="flex flex-col gap-6 items-center justify-start shrink-0 w-[464px] relative">
            <div class="flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 h-[46px] relative">
                <div
                    class="text-hannan-black text-center font-['WorkSans-SemiBold',_sans-serif] text-xl leading-5 font-semibold relative self-stretch">
                    Alamin Hossion
                </div>
                <div
                    class="text-hannan-sub-text text-center font-['WorkSans-Regular',_sans-serif] text-base leading-4 font-normal relative self-stretch">
                    Laravel Developer
                </div>
            </div>
            <img class="flex flex-col gap-0 items-center justify-start self-stretch shrink-0 h-[auto] relative overflow-visible"
                src="/src/assets/icons/line0.svg" />
            <div class="flex flex-row gap-6 items-center justify-center shrink-0 relative">
                <img class="rounded-[50%] border-solid border-[#ffffff] border-[6px] shrink-0 w-[70px] h-[70px] relative"
                    style="
                  opacity: 0.3;
                  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
                  object-fit: cover;
                " src="/src/assets/images/_173440.png" />
                <img class="rounded-[50%] border-solid border-[#ffffff] border-[6px] shrink-0 w-[100px] h-[100px] relative"
                    style="
                  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
                  object-fit: cover;
                " src="/src/assets/images/_56770.png" />
                <img class="rounded-[50%] border-solid border-[#ffffff] border-[6px] shrink-0 w-[70px] h-[70px] relative"
                    style="
                  opacity: 0.3;
                  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
                  object-fit: cover;
                " src="/src/assets/images/_189890.png" />
            </div>
        </div>
    </div>
    <img class="w-[5.37%] h-[8.26%] absolute right-[90.26%] left-[4.37%] bottom-[75.37%] top-[16.37%] overflow-visible"
        src="/src/assets/icons/shape-41.svg" />
    <img class="w-[8.65%] h-[11.41%] absolute right-[95.68%] left-[-4.32%] bottom-[-4.2%] top-[92.79%] overflow-visible"
        src="/src/assets/icons/shape-51.svg" />
    <img class="w-[2.1%] h-[11.41%] absolute right-[17.85%] left-[80.05%] bottom-[18.62%] top-[69.97%] overflow-visible"
        src="/src/assets/icons/shape-60.svg" />
    <div
        class="rounded-[50%] border-solid border-[#f2d519] border w-[60px] h-[60px] absolute left-[1600px] top-[154px]">
    </div>
    <img class="w-[30px] h-[30px] absolute left-[403px] top-[421px] overflow-visible"
        src="/src/assets/icons/star-11.svg" />
</div>