<div class="bg-hannan-black self-stretch shrink-0 h-[552px] relative overflow-hidden">
    <div class="bg-[#0482f9] rounded-[50%] w-[350px] h-[350px] absolute left-[1505px] top-[335px]"
        style="opacity: 0.6; filter: blur(400px)"></div>
    <div class="bg-[#6bb54a] rounded-[50%] w-[350px] h-[350px] absolute left-[81px] top-80"
        style="opacity: 0.6; filter: blur(400px)"></div>
    <div class="bg-[#ee2358] rounded-[50%] w-[343px] h-[343px] absolute left-[-82px] top-[-119px]"
        style="filter: blur(400px)"></div>
    <div class="bg-[#ee23da] rounded-[50%] w-[343px] h-[343px] absolute left-[788px] top-[-185px]"
        style="filter: blur(400px)"></div>
    <div class="bg-[#fdd40f] rounded-[50%] w-[343px] h-[343px] absolute left-[1643px] top-[-117px]"
        style="filter: blur(400px)"></div>
    <img class="w-[5.37%] h-[13.77%] absolute right-[90.26%] left-[4.37%] bottom-[73.19%] top-[13.04%] overflow-visible"
        style="opacity: 0.2" src="/src/assets/icons/shape-40.svg" />
    <img class="w-[8.65%] h-[13.77%] absolute right-[95.16%] left-[-3.8%] bottom-[3.99%] top-[82.25%] overflow-visible"
        style="opacity: 0.2" src="/src/assets/icons/shape-50.svg" />
    <img class="w-[2.1%] h-[13.77%] absolute right-[6.86%] left-[91.04%] bottom-[35.87%] top-[50.36%] overflow-visible"
        style="opacity: 0.2" src="/src/assets/icons/group-10000010050.svg" />
    <div class="rounded-[50%] border-solid border-[#f2d519] border w-[60px] h-[60px] absolute left-[1688px] top-[77px]"
        style="opacity: 0.3"></div>
    <div class="flex flex-col gap-2.5 items-center justify-start w-[1440px] absolute left-60 top-[50px]">
        <div
            class="text-hannan-white text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch">
            Our Working Process
        </div>
        <div
            class="text-hannan-white text-center font-['WorkSans-Regular',_sans-serif] text-lg leading-7 font-normal relative self-stretch">
            With our innovative tools and solutions tailored to empower your
            business, you just need
            <br />
            to sit back and see your problems solved, business operations .
        </div>
    </div>
    <img class="w-[30px] h-[30px] absolute left-[403px] top-[358px] overflow-visible"
        src="/src/assets/icons/star-10.svg" />
    <div class="flex flex-col gap-10 items-start justify-center absolute left-[50%] top-[206px]"
        style="translate: -50%">
        <div class="flex flex-row gap-4 items-center justify-start shrink-0 relative">
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    01
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Define
                </div>
            </div>
            <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative"
                style="-webkit-text-stroke: 1px var(--hannan-sub-text, #5a556e)">
                +
            </div>
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    02
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Research
                </div>
            </div>
            <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative"
                style="-webkit-text-stroke: 1px var(--hannan-sub-text, #5a556e)">
                +
            </div>
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    03
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Sketch
                </div>
            </div>
            <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative"
                style="-webkit-text-stroke: 1px var(--hannan-sub-text, #5a556e)">
                +
            </div>
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    04
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Analysis
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-4 items-center justify-start shrink-0 relative">
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    05
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Design
                </div>
            </div>
            <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative"
                style="-webkit-text-stroke: 1px var(--hannan-sub-text, #5a556e)">
                +
            </div>
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    06
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Development
                </div>
            </div>
            <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative"
                style="-webkit-text-stroke: 1px var(--hannan-sub-text, #5a556e)">
                +
            </div>
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    07
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Testing
                </div>
            </div>
            <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative"
                style="-webkit-text-stroke: 1px var(--hannan-sub-text, #5a556e)">
                =
            </div>
            <div
                class="bg-[rgba(255,255,255,0.02)] border-dashed border-hannan-sub-text border p-6 flex flex-col gap-6 items-center justify-start shrink-0 w-[170px] relative">
                <div class="text-center font-['WorkSans-Bold',_sans-serif] text-[40px] leading-10 font-bold relative self-stretch"
                    style="
                  letter-spacing: 0.06em;
                  -webkit-text-stroke: 1px var(--hannan-yellow, #fdcb02);
                ">
                    08
                </div>
                <div
                    class="text-hannan-white text-center font-['WorkSans-SemiBold',_sans-serif] text-base leading-4 font-semibold relative self-stretch">
                    Final Delivery
                </div>
            </div>
        </div>
    </div>
</div>