
:root {
  /* Colors */
  --hannan-black: #1e2533;
  --hannan-sub-text: #5a556e;
  --hannan-primary-2: #0a97b0;
  --hannan-border-1: #bdc7d3;
  --hannan-border-2: #d6e2ef;
  --hannan-fill-color: #8d97a3;
  --hannan-white: #ffffff;
  --hannan-green: #1d9993;
  --hannan-active: #0dc46e;
  --hannan-red: #ff4340;
  --hannan-yellow: #fdcb02;

  /* Fonts */
  /* Effects */
}
